* {
    margin: 0;
    padding: 0px;
}

.container {
    width: 100%;
    background-color: #BFE5F6;
    background-image: none;
    padding: 10px;
}

.RegionInfo {
    width: 80%;
    text-align: center;
    margin: auto;
}

.RegionImg {
    width: 100px;
    height: 100px;
}

.QuestionAnswer {
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.QuizAnswer {
    padding: 10px;
    margin: 0px 20px 20px 20px;
    width: 40%;

    border-radius: 5px;
    background-color: rgba(128,128,128, 0.5);
    border-style: none;
}

.QuizAnswer:hover {
background-color: rgba(128,128,128, 0.9);
border-style: none;
}

.Quizcontrol {
    position: absolute;
    bottom: 20px;
    margin-left: 12%;
    width: 100%;
}

#Counter {
    width: 60px;
    position: top;
    background-color: white;
    text-align: right;
    margin: 5px;
    padding: 10px;
    border:none;
    border-radius: 5px;;
}

